@import "../../styles/globals.scss";

.movie-card {
  display: flex;
  position: relative;

  &--search {
    margin: 20px 0;
    flex-direction: row-reverse;
    align-items: center;

    @include breakpoint(tabletS) {
      width: 48%;
    }

    @include breakpoint(laptop) {
      width: 32%;
    }
  }

  &--nomination {
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(50% - 6px);
    margin: 10px 0;
    box-shadow: 1px -1px 28px -10px rgba(0, 0, 0, 0.55);

    @include breakpoint(tabletS) {
      width: calc(50% - 16px);
      margin: 16px 0;
      box-shadow: 1px -1px 28px -4px rgba(0, 0, 0, 0.55);
    }

    @include breakpoint(laptop) {
      width: calc(33% - 24px);
      margin: 24px 0;
    }

    @include breakpoint(laptop) {
      width: calc(25% - 24px);
      margin: 24px 0;
    }

    @include breakpoint(desktopS) {
      width: calc(25% - 32px);
      margin: 16px 0;
    }

    @include breakpoint(desktopL) {
      width: calc(20% - 32px);
      margin: 16px 0;
    }
  }

  &__poster-container {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    height: 0;
    overflow: hidden;

    &--search {
      z-index: 0;
      width: 65%;
      padding-top: calc(0.65 * 322 / 223 * 100%);
      border-radius: 10px;
      box-shadow: 1px -1px 28px -4px rgba(0, 0, 0, 0.55);
    }

    &--nomination {
      width: 100%;
      padding-top: calc(322 / 223 * 100%);

      @include breakpoint(tabletS) {
        width: 100%;
        padding-top: calc(0.65 * 322 / 223 * 100%);
      }
    }
  }

  &__poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--nomination {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      object-fit: cover;
    }
  }

  //TODO: potential enhancement to bring up the poster when its hovered on.
  &__description {
    background-image: linear-gradient(
      to bottom,
      $color-pink 60%,
      $color-salmon
    );
    color: $color-white;

    &--search {
      z-index: 1;
      position: absolute;
      left: 16px;
      flex-shrink: 0;
      width: 55%;
      padding: 20px;
      border-radius: 10px;

      @include breakpoint(tabletS) {
        left: 0;
      }
    }

    &--nomination {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  &__year {
    @include body-s;
    display: inline-block;
    padding: 4px;
    border: 1px solid $color-white;
    border-radius: 10px;
    margin-bottom: 8px;
  }

  &__title {
    @include heading-5;
    margin-bottom: 24px;
  }

  &__link {
    @include link;

    &--nomination {
      display: inline-flex;
      padding-right: 10px;
      border-right: 1px solid $color-white;
      margin-right: 10px;
    }
  }

  &__nominate {
    margin-top: 10px;
  }

  &__links-container {
    width: 100%;
    margin-top: auto;
  }
}
