@mixin heading-1 {
  font-weight: 900;
  font-size: 56px;
  line-height: 1.1;

  @include breakpoint(desktopS) {
    font-size: 72px;
  }
}

@mixin heading-2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;

  @include breakpoint(desktopS) {
    font-size: 56px;
    line-height: 1.1;
  }
}

@mixin heading-3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.3;

  @include breakpoint(desktopS) {
    font-size: 40px;
  }
}

@mixin heading-4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;

  @include breakpoint(desktopS) {
    font-size: 32px;
  }
}

@mixin heading-5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;

  @include breakpoint(desktopS) {
    font-size: 24px;
  }
}

@mixin heading-6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  @include breakpoint(desktopS) {
    font-size: 24px;
  }
}

@mixin body-xl {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  @include breakpoint(desktopS) {
    font-size: 20px;
  }
}

@mixin body-l {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;

  @include breakpoint(desktopS) {
    font-size: 18px;
  }
}

@mixin body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

@mixin body-s {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

@mixin label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}
