@import "../../styles/globals.scss";

.movie-details {
  min-height: 100vh;
  background-color: $color-black-20;
  overflow-anchor: none;

  &__hero {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 170px;
    background-image: url("../../assets/images/hero-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__card {
    position: relative;
    top: -60px;
    width: calc(100% - 32px);
    border-radius: 10px;
    margin: 0 16px;
    background-color: $color-white;
  }

  &__info-container {
    padding: 30px 20px 20px 20px;
  }

  &__top-container {
    display: flex;
  }

  &__poster-container {
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    width: 48%;
    height: 0;
    padding-top: calc(0.48 * 322 / 223 * 100%);
    border-radius: 10px;
    overflow: hidden;
  }

  &__poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__short-info-container {
    margin-left: 10px;
  }

  &__year {
    @include heading-5;
  }

  &__title {
    @include heading-4;
  }

  &__rating {
    @include body;
    margin-top: 10px;
  }

  &__duration-container {
    @include body;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  &__timer-icon {
    width: 14px;
    height: 14px;
    fill: $color-pink;
  }

  &__duration {
    margin-left: 4px;
  }

  &__genre {
    @include body;
    margin-top: 10px;
  }

  &__rating-container {
    @include body;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;

    @include breakpoint(mobileM) {
      justify-content: space-between;
    }
  }

  &__imdb-container {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 20px;
    background-color: $color-orange;
  }

  &__imdb-icon {
    height: 15px;
  }

  &__all-rating {
    margin-left: 8px;
  }

  &__tomato-icon {
    height: 15px;
  }

  &__meta-icon {
    height: 15px;
    width: 15px;
  }

  &__plot {
    @include body-s;
    margin-top: 20px;
  }

  &__more-info-container {
    margin-top: 20px;
    text-align: left;
  }

  &__more-info-button {
    @include button;
    @include body-l;
  }

  &__more-info {
    margin-top: 20px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

    &--hide {
      display: none;
    }
  }

  &__cast {
    @include body-s;
    margin-bottom: 6px;
  }

  &__bold {
    font-weight: 700;
  }

  &__buttons-container {
    position: relative;
    top: -60px;
    padding: 0 16px;
    margin-top: 30px;
  }
}
