@import "../../styles/globals.scss";

.movie-details {
  min-height: 100vh;
  background-color: $color-black-20;
  overflow-anchor: none;

  &__hero {
    @include hero-sizing;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../../assets/images/hero-2.jpg");
  }

  &__card {
    position: relative;
    top: -60px;
    width: calc(100% - 32px);
    border-radius: 10px;
    margin: 0 16px;
    background-color: $color-white;

    @include breakpoint(tabletS) {
      width: calc(100% - 64px);
      margin: 0 32px;
    }

    @include breakpoint(laptop) {
      width: calc(100% - 128px);
      margin: 0 64px;
    }

    @include breakpoint(desktopS) {
      // width: calc(100% - 200px);
      // margin: 0 100px;
      max-width: 896px;
      margin: 0 auto;
    }
  }

  &__info-container {
    padding: 30px 20px 20px 20px;

    @include breakpoint(tabletS) {
      padding: 40px 30px 30px 30px;
    }

    @include breakpoint(laptop) {
      padding: 60px 0px 40px 0px;
      max-width: 618px;
      margin: 0 auto;
    }

    @include breakpoint(desktopS) {
      padding: 100px 0px 80px 0px;
    }
  }

  &__top-container {
    display: flex;

    @include breakpoint(laptop) {
      justify-content: center;
    }
  }

  &__poster-container {
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    width: 48%;
    height: 0;
    padding-top: calc(0.48 * 322 / 223 * 100%);
    border-radius: 10px;
    overflow: hidden;

    @include breakpoint(tabletS) {
      width: 45%;
      padding-top: calc(0.45 * 322 / 223 * 100%);
    }

    @include breakpoint(tabletS) {
      width: 40%;
      padding-top: calc(0.4 * 322 / 223 * 100%);
      margin-right: 20px;
    }
  }

  &__poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__short-info-container {
    margin-left: 10px;

    @include breakpoint(tabletS) {
      margin-left: 30px;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
    }

    @include breakpoint(tabletS) {
      margin-left: 20px;
      padding-right: 10px;
    }
  }

  &__year {
    @include heading-5;

    @include breakpoint(tabletS) {
      @include heading-4;
    }
  }

  &__title {
    @include heading-4;

    @include breakpoint(tabletS) {
      @include heading-3;
      margin-top: 10px;
    }
  }

  &__rating {
    @include body;
    margin-top: 10px;

    @include breakpoint(tabletS) {
      @include heading-5;
      margin-top: 20px;
    }
  }

  &__duration-container {
    @include body;
    display: flex;
    align-items: center;
    margin-top: 10px;

    @include breakpoint(tabletS) {
      @include heading-5;
    }
  }

  &__timer-icon {
    width: 14px;
    height: 14px;
    fill: $color-pink;

    @include breakpoint(tabletS) {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
  }

  &__duration {
    margin-left: 4px;
  }

  &__genre {
    @include body;
    margin-top: 10px;

    @include breakpoint(tabletS) {
      @include heading-5;
    }
  }

  &__rating-container {
    @include body;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;

    @include breakpoint(mobileM) {
      justify-content: space-between;
    }

    &--mobile {
      @include breakpoint(tabletS) {
        display: none;
      }
    }

    &--desktop {
      display: none;
      @include breakpoint(tabletS) {
        display: flex;
        justify-content: flex-start;
      }
    }
  }

  &__imdb-container {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 20px;
    background-color: $color-orange;

    @include breakpoint(tabletS) {
      margin-right: 10px;
    }
  }

  &__imdb-icon {
    height: 15px;
  }

  &__all-rating {
    margin-left: 8px;
  }

  &__tomato-icon {
    height: 15px;
  }

  &__meta-icon {
    height: 15px;
    width: 15px;
  }

  &__plot {
    @include body-s;
    margin-top: 20px;

    @include breakpoint(tabletS) {
      @include body-m;
      margin-top: 30px;
    }
  }

  &__more-info-container {
    margin-top: 20px;
    text-align: left;

    @include breakpoint(laptop) {
      margin-top: 40px;
    }
  }

  &__more-info-button {
    @include button;
    @include body-l;
  }

  &__more-info {
    margin-top: 20px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

    @include breakpoint(laptop) {
      margin-top: 40px;
    }
  }

  &__cast {
    @include body-s;
    margin-bottom: 6px;

    @include breakpoint(tabletS) {
      @include body-m;
    }
  }

  &__bold {
    font-weight: 700;
  }

  &__loading {
    text-align: center;
  }

  &__buttons-container {
    position: relative;
    top: -60px;
    padding: 0 16px;
    margin-top: 30px;

    @include breakpoint(tabletS) {
      width: 50%;
      margin: 30px auto 0;
    }

    @include breakpoint(laptop) {
      width: 30%;
    }

    @include breakpoint(desktopS) {
      width: 25%;
    }

    @include breakpoint(desktopL) {
      max-width: 330px;
      margin: 40px auto 0;
    }
  }
}
