@import "../../styles/globals.scss";

.carousel {
  position: relative;
  width: 100%;
  margin-top: 40px;
  overflow-x: hidden;

  &__title {
    @include resolution-padding;
    @include heading-3;
    color: $color-black;

    @include breakpoint(tabletS) {
      margin-bottom: 40px;
    }
  }

  &__pagination {
    @include resolution-padding;
    display: block;
    margin-top: 20px;
    text-align: right;
    list-style-type: none;

    & li {
      display: inline-block;
      width: 12px;
      height: 2px;
      background-color: $color-black-50;
      margin-left: 1px;
    }
  }

  &__container {
    @include carousel-padding;
    position: relative;
  }

  &__error-message {
    @include body-l;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
    color: $color-pink;

    @include breakpoint(tabletS) {
      @include heading-5;
    }
  }

  &__slider {
    width: 100%;
    display: flex;
    transition: 0.6s ease-in-out;
  }

  &__card {
    width: 100%;
    flex-shrink: 0;
    margin-right: 10px;

    &:not(:first-child) {
      margin-left: 12px;
    }

    @include breakpoint(tabletS) {
      width: calc((100% - 22px) / 2);
    }
    @include breakpoint(desktopS) {
      width: calc((100% - 66px) / 4);
    }

    @include breakpoint(desktopXL) {
      width: calc((100% - 88px) / 5);
    }
  }

  &__loading {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
  }

  &__arrow {
    @include button;
    position: absolute;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: $color-white;
    box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.42);
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);

    &--hide {
      display: none;
    }

    &--left {
      left: 10px;

      @include breakpoint(tabletS) {
        left: -30px;
      }

      @include breakpoint(laptop) {
        left: 124px;
      }

      @include breakpoint(desktopS) {
        left: 70px;
      }

      @include breakpoint(desktopL) {
        left: 90px;
      }
    }

    &--right {
      right: 10px;

      @include breakpoint(tabletS) {
        right: -30px;
      }

      @include breakpoint(laptop) {
        right: 124px;
      }

      @include breakpoint(desktopS) {
        right: 70px;
      }

      @include breakpoint(desktopL) {
        right: 90px;
      }
    }
  }

  &__arrow-icon {
    height: 20px;
    width: 20px;
    fill: $color-pink;
  }
}

#active {
  background-color: $color-pink;
}
