@import "../../../styles/globals.scss";

.button {
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &--primary {
    @include button-base;
    background-color: $color-white;
    color: $color-pink;

    &:hover {
      background-color: $color-pink;
      color: $color-white;
    }
  }

  &--carousel {
    @include button-base;
    background-color: $color-white;
    color: $color-pink;

    &:hover {
      background-color: $color-pink;
      color: $color-white;
    }

    @include breakpoint(desktopS) {
      font-size: 10px;
    }

    @include breakpoint(desktopL) {
      font-size: 12px;
    }
  }

  &--carousel-secondary {
    @include button-base;
    background-color: $color-pink;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-pink;
    }

    @include breakpoint(desktopS) {
      font-size: 10px;
    }
    @include breakpoint(desktopL) {
      font-size: 12px;
    }
  }

  &--secondary {
    @include button-base;
    background-color: $color-pink;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-pink;
    }
  }

  &--tertiary {
    @include button;
    @include label;
    display: inline;
    color: $color-white;
    text-decoration: underline;
    text-decoration-color: $color-white;

    &:hover {
      transform: translateY(-2px);
      text-decoration: none;
    }
  }

  &--large {
    @include button;
    @include heading-5;
    width: 100%;
    padding: 12px 0;
    border-radius: 30px;
    color: $color-white;
    background: linear-gradient(to right, $color-orange, $color-pink);

    &:hover {
      background: $color-white;
      color: $color-pink;
      border: 1px solid $color-pink;
    }
  }
}
