@import "../../styles/globals.scss";

.header {
  @include resolution-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  @include breakpoint(desktopL) {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__link {
    cursor: pointer;
  }

  &__icon {
    height: 30px;
    fill: $color-pink;
  }
}
