$color-white: #ffffff;

$color-black-10: #eeeeee;
$color-black-20: #dddddd;
$color-black-30: #cccccc;
$color-black-40: #aaaaaa;
$color-black-50: #999999;
$color-black-60: #888888;
$color-black-70: #666666;
$color-black-80: #444444;
$color-black-90: #222222;

$color-black: #000000;

$color-turquoise: #54CCD2;
$color-green: #C8DCC8;
$color-orange: #FFB68C;
$color-salmon: #FF8C7A;
$color-pink: #FF6686;