// Breakpoints
$breakpoint-mobileM-width-min: 375px;
$breakpoint-tabletS-width-min: 768px;
$breakpoint-tabletL-laptop-width-min: 1024px;
$breakpoint-desktopS-width-min: 1280px;
$breakpoint-desktopL-width-min: 1440px;
$breakpoint-desktopXL-width-min: 1680px;

$breakpoint-tabletL-height-min: 1000px;
